@model IEnumerable<ClubDeCarte.Models.BookInBookOfTheWeekViewModel>

@{
    ViewBag.Title = "Index";
}
<link href="@Url.Content("~/Content/Books.css")" rel="stylesheet" type="text/css" />
<h1><center>Cartea acestei saptamani </center></h1>

<p>
    @{
        if (User.IsInRole("Admin"))
        {
            @Html.ActionLink("Create New", "Create")
        }
     }
        </p>
<table class="table">
    <tr>
        <th></th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        
        <td>
            <img src="@Url.Content(item.UrlPhotoCover)" width="500" height="700"  />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
     
        <td>
            @{
                if (User.IsInRole("Admin"))
                {
                 @Html.ActionLink("Edit", "Edit", new { id = item.BookInBookOfTheWeekViewModelID }) 
                 @Html.ActionLink("Delete", "Delete", new { id = item.BookInBookOfTheWeekViewModelID })
                }
             }
        </td>
    </tr>
}

</table>
