@model ClubDeCarte.Models.BookReview

@{
    ViewBag.Title = "Delete";
}
<link href="@Url.Content("~/Content/CreateEditDelete.css")" rel="stylesheet" type="text/css" />
<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BookReview</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReviewPhoto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReviewPhoto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TitleReview)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitleReview)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthorBookReviewed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorBookReviewed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tags)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tags)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
