@model ClubDeCarte.Models.BookReview

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BookReview</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReviewPhoto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReviewPhoto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TitleReview)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitleReview)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tags)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tags)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BookReviewID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
