@model PagedList.IPagedList<ClubDeCarte.Models.BookReview>
@using PagedList.Mvc;


@{
    ViewBag.Title = "BookReview";
}

<h2>Index</h2>
<link href="@Url.Content("~/Content/HomePage.css")" rel="stylesheet" type="text/css" />
<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Find your next read: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}

<table class="table table-hover">
    <tr>
        <th>
            
        </th>
        <th>
            @Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.TitleSortParm })
        </th>
        <th>
            Author 
        </th>
        <th>
            Description
        </th>
        <th>
            Added By
        </th>
        <th>
            @Html.ActionLink("Added on", "Index", new { sortOrder = ViewBag.DateSortParam })
        </th>
        <th>
            Tags
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img  src="@Url.Content(item.ReviewPhoto)" width="200" height="300" multiple alt="@item.TitleReview"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TitleReview)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorBookReviewed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tags)
            </td>
            <td>

                @Html.ActionLink("Details", "Details", new { id = item.BookReviewID })
                @{
                    if (User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.BookReviewID })
                        @Html.ActionLink("Delete", "Delete", new { id = item.BookReviewID })
                    }
                }
            </td>
        </tr>
    }

</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
